@font-face {
    font-family: Charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 16px;
    --gray40: #424242;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
}

body {
    color: var(--gray30);
    font-family: 'Roboto', system-ui;
}

a {
    color: var(--gray40);
}

header {
    font-size: 14px;
    color: var(--gray10);
}

header a {
    /* --gray10: red */
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray30);
}

nav details summary {
    font-weight: bold;
}

nav details summary:hover {
    cursor: pointer;
}

nav details summary:focus {
    outline: none;
}

h1 {
    font-size: 60px;
    /* font-size: 3.75em; */
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

pre {
    background-color: #FEC62E;
}

.hero {
    height: 350px;
    width: 100%;
    /* background-image: red url("../img/pattern.png"); */
    background-image: linear-gradient(3.36deg, #ffffff -63.62%, rgba(255, 255, 255, 0) 43.49%), url("../img/pattern.png");
}

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList) ". ";
}

.section-content h3::after {
    content: "";
    width: 80px;
    height: 4px;
    background: var(--gray40);
    display: block;
}